<!doctype html> {% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <!-- fontawesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">

    <!-- favicon -->
    <link rel="shortcut icon" href="microphone.png" />


    <title>میکروفون</title>
    <style>
        /*
         * Globals
         */

        /* Links */

        a,
        a:focus,
        a:hover {
            color: #fff;
        }

        /* Custom default button */

        .btn-secondary,
        .btn-secondary:hover,
        .btn-secondary:focus {
            color: #333;
            text-shadow: none;
            /* Prevent inheritance from `body` */
            background-color: #fff;
            border: .05rem solid #fff;
        }


        /*
         * Base structure
         */

        html,
        body {
            height: 100%;
            background-color: #4d606e;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            color: #fff;
            /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
            /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
        }

        .cover-container {
            max-width: 42em;
        }


        /*
 * Header
 */

        .masthead {
            margin-bottom: 2rem;
        }

        .masthead-brand {
            margin-bottom: 0;
        }

        .nav-masthead .nav-link {
            padding: .25rem 0;
            font-weight: 700;
            color: rgba(255, 255, 255, .5);
            background-color: transparent;
            border-bottom: .25rem solid transparent;
        }

        .nav-masthead .nav-link:hover,
        .nav-masthead .nav-link:focus {
            border-bottom-color: rgba(255, 255, 255, .25);
        }

        .nav-masthead .nav-link+.nav-link {
            margin-left: 1rem;
        }

        .nav-masthead .active {
            color: #fff;
            border-bottom-color: #fff;
        }

        @media (min-width: 48em) {
            .masthead-brand {
                float: left;
            }
            .nav-masthead {
                float: right;
            }
        }


        /*
 * Cover
 */

        .cover {
            padding: 0 1.5rem;
        }

        .cover .btn-lg {
            padding: .75rem 1.25rem;
            font-weight: 700;
        }

        .cover-heading {
            margin-bottom: 40px;
        }


        /*
 * Footer
 */

        .mastfoot {
            color: #d3d4d8;
        }

        .labels {
            text-align: right;
            direction: rtl;
        }

        /* .input-label {
            cursor: pointer;
            font-size: 1.35em;
            font-weight: 700;
            display: inline-block;
        }

        .input-label:focus,
        .input-label:hover {
            color: #e53935;
        }

        #upload-audio {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        } */

        .input-file-container {
            position: relative;
            width: 200px;
        }

        .js .input-file-trigger {
            display: block;
            padding: 10px 35px;
            background: #FE5155;
            color: #fff;
            font-size: 0.95em;
            transition: all .4s;
            cursor: pointer;
            width: 200px;
        }

        .js .input-file {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            opacity: 0;
            padding: 12px 0;
            cursor: pointer;
        }

        .js .input-file:hover+.input-file-trigger,
        .js .input-file:focus+.input-file-trigger,
        .js .input-file-trigger:hover,
        .js .input-file-trigger:focus {
            background: #34495E;
            color: #39D2B4;
        }

        .file-return {
            margin: 0;
        }

        .file-return:not(:empty) {
            margin: 1em 0;
        }

        .js .file-return {
            font-style: italic;
            font-size: .9em;
            font-weight: bold;
        }

        .js .file-return:not(:empty):before {
            content: "فایل انتخاب شده: ";
            font-style: normal;
            font-weight: normal;
        }

        #cover-img {
            max-width: 180px;
            padding: auto;
        }
    </style>
</head>

<body class="text-center" data-gr-c-s-loaded="true">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <!-- header must go hear -->
        </header>
        <div class="container rounded" style="padding:50px;background-color:#3fbac2;color:#f5f5f5">
            <main role="main" class="inner cover">
                <h1 class="cover-heading">
                    <i class="fas fa-microphone-alt"></i>
                    میکروفون
                </h1>
                <p class="lead">به عنوان تولیدکننده محتوا می‌تونید محصول خودتون رو منتشر کنید. </p>

                <form action="/upload" class="container" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group row">
                        <label class="float-right labels" for="title"></label>
                        <input type="text" class="form-control" name="title" id="title" placeholder="عنوان">
                    </div>

                    <div class="form-group row">
                        <label class="float-right labels" for="artist"></label>
                        <input type="text" class="form-control" name="artist" id="artist" placeholder="نام تولیدکننده">
                    </div>

                    <div class="form-group row">
                        <div class="input-file-container col">
                            <input class="input-file" name="cover_file" id="cover" type="file" onchange="readURL(this);">
                            <label tabindex="0" for="cover" class="input-file-trigger rounded float-right">کاور را انتخاب کنید...</label>
                        </div>
                        <div class="col">
                            <img class="float-right" id="cover-img" src="http://via.placeholder.com/180" alt="cover" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="input-file-container col">
                                <input class="input-file" name="audio_file" id="audio" type="file">
                                <label tabindex="0" for="audio" class="input-file-trigger rounded" id="input-trigger">فایل را انتخاب کنید...</label>
                            </div>
                            <p class="file-return" id="return"></p>
                        </div>
                        <p class="col">
                            <small class="float-right labels">توجه کنید که فایل صوتی باید با فرمت .wav باشد.</small>
                        </p>
                        </br>
                    </div>

                    <button type="submit" class="btn">بفرست</button>
                </form>

            </main>
        </div>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>توسعه داده شده توسط تیم رادیوکله</p>
            </div>
        </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>


    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#cover-img')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        document.querySelector("html").classList.add('js');

        var fileInput = document.querySelector("#audio"),
            button = document.querySelector("#input-trigger"),
            the_return = document.querySelector("#return");

        button.addEventListener("keydown", function (event) {
            if (event.keyCode == 13 || event.keyCode == 32) {
                fileInput.focus();
            }
        });
        button.addEventListener("click", function (event) {
            fileInput.focus();
            return false;
        });
        fileInput.addEventListener("change", function (event) {
            the_return.innerHTML = this.value;
        });
    </script>


</body>

</html>
